@inherits LayoutComponentBase

<PageTitle>Movie and TV Tracker</PageTitle>

<div class="page">
    <div class="top-row px-4" style="background-color: black; color: forestgreen; display: flex; justify-content: space-between; align-items: center; padding: 10px;">
        <a href="" style="color: forestgreen;">Home</a>
        <div style="flex-grow: 1; margin: 0 20px;">
            <input class="form-control" type="text" placeholder="Search" aria-label="Search" style="background-color: black; color: forestgreen; width: 100%;">
        </div>
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>