@page "/"

<h3 style="color: forestgreen;">Welcome to Movie and TV Tracker</h3>

<ul class="list-group" style="background-color: black;">

    <li class="list-group-item" style="background-color: #333;">
        <a href="movies" class="btn btn-primary" style="background-color: forestgreen; color: black;">Movie Tracker List</a>
    </li>

    <li class="list-group-item" style="background-color: #333;">
        <a href="shows" class="btn btn-primary" style="background-color: forestgreen; color: black;">TV Show Tracker List</a>
    </li>

</ul>
