@page "/"

<h3 style="color: darkorange;">Welcome to Movie and TV Tracker</h3>

<ul class="list-group" style="background-color: black;">

    <li class="list-group-item"><a href="movies" class="btn btn-primary" style="background-color: darkorange; color: black;">Movie Tracker List</a></li>
    <li class="list-group-item"><a href="shows" class="btn btn-primary" style="background-color: darkorange; color: black;">TV Show Tracker List</a></li>

</ul>
